@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

$font: "Inter", sans-serif;

// COLORS
$white: #fff;
$bgColor: #f1f1f1;
$purple: #40005d;
$cardPrimaryColor: #a892ee;
$cardSecondaryColor: #1f1f1f;
$cardShadow: 0 0 5px rgba(0, 0, 0, 0.1);
$error: #ff0000;
$errorBg: #ffd6d6;
$errorTextColor: #ce1010;
$btnBg: #40005d;
$transition: all ease-in-out 0.3s;
